<!DOCTYPE html>
<html lang="en" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout1}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/main_css.css">
    <title></title>
</head>
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">

        $(document).ready(function(){
            $("#searchBtn").on("click",function(e) {
                e.preventDefault();
                page(0);
            });
        });

        function page(page){
            var searchDateType = $("#searchDateType").val();
            var searchLanguageType = $("#searchLanguageType").val();
            var searchBy = $("#searchBy").val();
            var searchQuery = $("#searchQuery").val();

            location.href="/" + page + "?searchDateType=" + searchDateType
            +"&searchLanguageType="+searchLanguageType
            + "&searchBy=" + searchBy
            + "&searchQuery=" + searchQuery;
        }

    </script>
</th:block>
<body>
    <div class="main" layout:fragment="content">

        <div class="wrap_sub_visual" style="background-image: url('/css/img/sub_visual_4.jpg');">
            <div class="mainContainer">
                <p class="visual_intro">
                    <strong>캡스톤 디자인</strong>
                    <span>창의와 혁신으로 미래 고등직업교육을 선도하는 대학</span>
                </p>
            </div>

            <div class="wrap_page_func">
                <div class="home" style="background: #0079f4 url('css/img/sub_navi_home.png') no-repeat center;"><a href="/">홈으로</a></div>
            </div>
        </div>

        
        <form th:action="@{'/' + ${items.number}}" role="form" method="get" th:object="${items}" class="wrap_contents">
        
         <div class="searchForm" th:object="${itemSearchDto}">
            <select th:field="*{searchDateType}" class="form_control_date_List" >
                <option value="all">전체기간</option>
                <option value="1d">1일</option>
                <option value="1w">1주</option>
                <option value="1m">1개월</option>
                <option value="6m">6개월</option>
            </select>
            <select th:field="*{searchBy}" class="form_control_date_List" style="width:130px;">
                <option value="itemTitle">프로젝트 제목</option>
                <option value="createdBy">등록자</option>
            </select>
            <input th:field="*{searchLanguageType}" type="hidden">
            <input th:field="*{searchQuery}" type="text" class="form_control" placeholder="검색어를 입력해주세요">
            <button id="searchBtn" type="submit" class="board_search">검색</button>
        </div>
        
        
        <table class="table">
            <thead>
            <tr class="table_title">
                <td>번호 </td>
                <td>프로젝트 제목</td>
                <td>분야</td>
                <td>등록자</td>
                <td>등록일</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item, status: ${items.getContent()}">
                <td th:text="${item.id}"></td>
                <td>
                    <a th:href="'/item/'+${item.id}" th:text="${item.itemTitle}"></a>
                </td>
                <!-- 경로 찾아라 T(kr.inhatc.spring.item.constant.LanguageType). -->
                <!--  
                <th th:switch="${item.itemField}">
                	<td th:case="JAVA">Java</td>
                	<td th:case="C1">C , C++ , C#</td>
                	<td th:case="PYTHON">Python</td>
                	<td th:case="MOBILE">Mobile</td>
                	<td th:case="ETC">기타</td>
                </th:block> -->
                
                <td th:switch="${#strings.toString(item.itemField)}">
                	<span th:case="JAVA">Java</span>
                	<span th:case="C1">C , C++ , C#</span>
                	<span th:case="PYTHON">Python</span>
                	<span th:case="MOBILE">Mobile</span>
                	<span th:case="ETC">기타</span>
                </td>
                
                
                <td th:text="${item.createdBy}"></td>
                <td th:text="${item.regTime}"></td>
            </tr>
            </tbody>
        </table>

        <div class="page_fnc" th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})" >
            <ul class="page_list">

                <li class="page_item_right" th:classappend="${items.first}?'disabled'">
                    <button th:onclick="'javascript:page(' + ${items.number - 1} + ')'" aria-label='Previous' class="page-link">
                    </button>
                </li>

                <li class="page_item_num" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${items.number eq page-1}?'active':''">
                    <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
                </li>

                <li class="page_item_left" th:classappend="${items.last}?'disabled'">
                    <button type="button" th:onclick="'javascript:page(' + ${items.number + 1} + ')'" aria-label='Next' class="page-link" >
                    </button>
                </li>

            </ul>
        </div>

       
    </form>
    
</div>
<body>
</html>